@import "tailwindcss";
@import "@heroui/styles";

:root,
.default,
.light,
.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: #5F62B7;
  --accent-foreground: #ffffff;
  --background: #0A0C0E;
  --background-foreground: #ffffff;
  --card: #060709;
  --card-foreground: #ffffff;
  --border: rgba(147, 149, 211, 0.2);
  --muted-foreground: #9ca3af;
}
[data-theme="light"] {
  color-scheme: light;
  --accent: #7577c7;
  --accent-foreground: #ffffff;
  --background: #f8f9fa;
  --background-foreground: #040316;
  --card: #ffffff;
  --card-foreground: #ffffff;
  --border: rgba(147, 149, 211, 0.2);
  --foreground: #1a1c1f;
  --muted-foreground: #040316;
}

@layer utilities {
  .bg-accent {
    background-color: var(--accent);
  }
  .bg-background {
    background-color: var(--background);
  }
  .bg-card {
    background-color: var(--card);
  }
  .text-accent-foreground {
    color: var(--accent-foreground);
  }
  .text-background-foreground {
    color: var(--background-foreground);
  }
  .text-card-foreground {
    color: var(--card-foreground);
  }
  .border-default {
    border-color: var(--border);
  }
  .text-muted-foreground {
    color: var(--muted-foreground)
  }
}